
<footer class="container-fluid py-5">
  <div class="row text-white py-5 text-center g-4">
    <!-- First column -->
    <div class="col-md-4">
      <h2>LOCATION</h2>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <!-- Second column -->
    <div class="col-md-4">
      <h2>AROUND THE WEB</h2>
      <i class="fa-brands fa-facebook-f p-2 fs-5 m-2 border border-white rounded-3"></i>
      <i class="fa-brands fa-twitter p-2 fs-5 m-2 border border-white rounded-3"></i>
      <i class="fa-brands fa-linkedin-in p-2 m-2 fs-5 border border-white rounded-3"></i>
      <i class="fa-brands fa-safari p-2 fs-5 m-2 border border-white rounded-3"></i>
    </div>
    <!-- Third column -->
    <div class="col-md-4">
      <h2>ABOUT FREELANCER</h2>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
  </div>
</footer>

