<div class="backgr py-5 ">
<div class="text-center text-white py-5">
<h1 class="py-5 bg-success w-50 m-auto rounded-5">ABOUT COMPONENT</h1>
</div>

<div class="row text-center text-white py-5">
    <div class="col-sm-6">
        <div class="card-body py-5">
          <p class="card-text ms-5 fs-5 fw-bold">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card-body py-5">
        <p class="card-tex me-5 fs-5 fw-bold">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
      </div>
    </div>
