<h1 class="text-center fw-bold py-5">CONATCT SECTION</h1>

<div class="container">
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="Name">
    <label for="floatingInput">UserName</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">UserAge</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">UserEmail</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">UserPassword</label>
  </div>
  <button class="btn btn-success py-2 mt-3 mb-5 text-white">Send Message</button>
</div>